.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 90%;
  height: 50px;
  border: none;
}

.inputCon {
  height: 60px;
}

.gif {
  width: 300px;
  padding: 5px;
}

.giphyCon {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}